<h1>Employees</h1>

<table class="table">
    <tr>
        <th>user id</th>
        <th>employer id</th>
        <th>position</th>
        <th>action</th>
    </tr>
        <% @employees.each do |employee| %>
            <tr>
                <td><%= employee.user_id %></td>
                <td><%= employee.employer_id %></td>
                <td><%= employee.employee_position %></td>
                <td><%= link_to "Edit", edit_employee_path(employee)%></td>
            </tr>
        <% end %>
    <tr>
        <td><%= link_to "+", new_employee_path %></td>
    </tr>
<table>