<style>

.card_title_text{
    text-align: center;
    font-size: 200%;
}
.doc-btn{
  float: right;
}
@media (max-width: 1050px) {
    .doc-btn{
        float: none;
    }
}
.card-title{
    color: grey;
}
.card:hover{
    background: rgba(0,0,0,0.1);
}
.center-text{
    text-align:center;
}
.top-right {
    position: absolute;
     padding-top: 10px;
  padding-right: 10px;
    top: 0;
    right: 0;
    padding: 
}

</style>


<div class="container-fluid" style="background-color:#001F5B!important;min-height:100vh;height:100%;">
<div class="container" style="background-color:#f8f9fa!important;padding-top:50px;padding-right:25px;padding-left:25px;padding-bottom:25px;min-height:100vh;height:100%;">
<div><%= link_to 'Return to normal app', root_path, class: "nav-link", style: "display: inline;padding-left:0px;" %></div>
<h1 style="display:inline-block">Admin Home</h1>
<%=link_to '<button type="button" class="btn btn-primary mb-2 doc-btn" ><i class="fa fa-info fa-lg" aria-hidden="true"></i> Documentation</button>'.html_safe, admin_documentation_path%>
<div class="card-deck">
    <div class="row row-auto ">
        <div class="col-sm-6 mb-3">
            <div class="card p-2 justify-content-center" style="height:18rem;">  
                <%= link_to admin_preapproved_emails_path, class:    "card-block stretched-link text-decoration-none" do%>
                <h4 class="card-title card_title_text"  >Pre-Approved Emails</h4>
                <p class="card-text center-text">Add and Delete Pre-Approved Emails  </p>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card p-2  justify-content-center" style="height:18rem;">
                <%= link_to admin_committees_path, class:    "card-block stretched-link text-decoration-none " do%>
                <h4 class="card-title card_title_text"  >Set Committees</h4>
                <p class="card-text center-text">   Create and Delete Committees or Add  Members</p>
                <%end%>
            </div>
        </div>
    </div>



    <div class="row row-auto ">
        <div class="col-sm-6 mb-3">
            <div class="card p-2  justify-content-center" style="height:18rem;">
        <%= link_to admin_account_requests_path, class:    "card-block stretched-link text-decoration-none" do%>
        <h4 class="card-title card_title_text"  >Account Requests</h4>
        <p class="card-text center-text">Approve New Members</p>
        <%end%>
    </div>
        </div>
        <div class="col-sm-6 mb-3">
           <div class="card p-2  justify-content-center" style="height:18rem;">
        <%= link_to admin_approved_users_path, class:    "card-block stretched-link text-decoration-none" do%>
        <h4 class="card-title card_title_text"  >Active Users</h4>
        <p class="card-text center-text">View Current Members</p>
        <%end%>
    </div>
        </div>
    </div>
    
</div>