<div class="container-fluid" style="background-color:#001F5B!important;height:100vh;">
    <div class="container" style="background-color:#f8f9fa!important;padding-top:50px;padding-right:25px;padding-left:25px;padding-bottom:25px;height:100vh;">
        <h1>Account Requests</h1>
        <%= link_to "Back", admin_path%>

        <table class="table table-hover mt-3">
            <thead class="table" style="background-color:#001F5B;color:white">
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @accounts_requested.each do |user| %>
                    <tr class="table-light">
                        <td><%= user.id %></td>
                        <td><%= user.user_email %></td>
                        <td><%= user.user_profile.user_first_name %></td>
                        <td><%= user.user_profile.user_last_name %></td>
                        <td><%= link_to "Approve", admin_request_approve_path(user.id) %> - <%= link_to "Deny", admin_request_deny_path(user.id) %></td>
                    </tr>
                <% end %>
            </tbody>
        <table>
    </div>
</div>