<div class="container">
    <div class="row">
        <h1 class="mb-3">Home</h1>
        <h4>Welcome to your memberSHPE Portal!</h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mt-3 home-card shadow-lg" style="width:auto;">
                <%= image_tag "home_search.svg", class:"card-img-top p-4 mx-auto", style:"width:90%" %>
                <div class="card-body">
                    <h5 class="card-title">Search For People</h5>
                    <p class="card-text">
                        You can search for current and past members of TAMUSHPE based off of different attributes such as first name, last name,
                        industry, and much more!
                    </p>
                    <div class="text-center">
                        <%= link_to 'Search People' , user_profiles_path, class:"btn btn-primary"%>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mt-3 home-card shadow-lg" style="width:auto;">
                <%= image_tag "home_profile.svg", class:"card-img-top p-4 mx-auto", style:"width:90%" %>
                <div class="card-body">
                    <h5 class="card-title">Create a Profile</h5>
                    <p class="card-text">
                        Help others get to know you better by creating a profile where you can upload an image, add work experience, and share your 
                        social media links.
                    </p>
                    <div class="text-center">
                        <%= link_to 'Edit Profile' , user_profile_path(User.get_current_user_profile(current_account).id), class:"btn btn-primary"%>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mt-3 home-card shadow-lg" style="width:auto;">
                <%= image_tag "home_help.svg", class:"card-img-top p-4 mx-auto", style:"width:90%" %>
                <div class="card-body">
                    <h5 class="card-title">Still Confused?</h5>
                    <p class="card-text">
                        If you're still having trouble using this website, we've created an extensive help page to answer some FAQ's and provide you our contact information.
                    </p>
                    <div class="text-center">
                        <%= link_to 'Help Page' , faq_path, class:"btn btn-primary"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-home">
        <h4 class="pl-0">MemberSHPE Stats</h4>
        <p>This is real-time data of member statistics which provides insight into who is involved in our organization.</p>
        <div class="col-md-4 col-sm-6 m-2 p-3 d-flex card home-card align-items-stretch stat-item">
            <p class="mb-1 text-center" style="font-size:18px">Major Distribution</p>
            <%= pie_chart UserProfile.all.group(:user_industry).count, download: {filename: "Major_Distribution", background: "#ffffff"},legend: false  %>
        </div>
        <div class="col-md-4 col-sm-6 m-2 p-3 d-flex card home-card text-center align-items-stretch stat-item">
            <p class="mb-1 text-center" style="font-size:18px">User Status</p>
            <% @temp = UserProfile.all.where(external_member: false).where(recruiter: false).group(:user_current_member_status).count%>
            <% @new = {'Member': @temp[false], "Other": (@temp[true].+ UserProfile.all.group(:recruiter).count[true]+ UserProfile.all.where(external_member: true).group(:external_member).count[true])} %>
            <%= column_chart @new, download: {filename: "User_Status", background: "#ffffff"} %>
            <p style="font-size:11px">Other - Includes Alumni, Company Reps, and External Users.</p>
        </div>
        <div class="col-md-4 col-sm-6 m-2 p-3 d-flex card home-card align-items-stretch stat-item">
            <p class="mb-1 text-center" style="font-size:18px">Graduation Years</p>
            <%= pie_chart UserProfile.all.group(:user_graduating_year).count, download: {filename: "Gender_Distribution", background: "#ffffff"},legend: false %>
        </div>
    </div>

    <div class="row mt-home">
        <h4 class="pl-0">Chapter Posts</h4>
        <p>Get an insight into some of our most recent updates!</p>

        <!-- Place <div> tag where you want the feed to appear -->
        <div id="curator-feed-default-feed-layout" ><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
    </div>
</div>

<script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
i.src="https://cdn.curator.io/published/d0503b68-80f6-4c7a-ab51-07f9ea98aaaf.js";
e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>