
  <%
=begin%>
 <% if @user_profile.errors.any? %>
  <%= @user_profile.errors.full_messages %>
<% end %> 
<%
=end%>
 <form>
    <div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">First Name</label>
  </div>
  <div class="col-lg-9">
    <%= f.text_field :user_first_name,class:"form-control",placeholder:"Enter First Name" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Last Name</label>
  </div>
  <div class="col-lg-9">
    <%= f.text_field :user_last_name,class:"form-control",placeholder:"Enter Last Name" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Email Address</label>
  </div>
  <div class="col-lg-9">
 <%= f.text_field :user_email,class:"form-control",placeholder:"Enter Email", value:current_account.email, readonly:true %> 
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Current Member</label>
  </div>
  <div class="col-lg-9">
  Yes
    <%= f.check_box :user_current_member_status %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Hide Email</label>
  </div>
  <div class="col-lg-9">
  Yes
    <%= f.check_box :user_display_email_status %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Facebook</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_facebook_profile_url,class:"form-control",placeholder:"Enter Facebook URL" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Instagram</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_instagram_profile_url,class:"form-control",placeholder:"Enter Instagram URL" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Linkedin</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_linkedin_profile_url,class:"form-control",placeholder:"Enter Linkedin URL" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Industry</label>
  </div>
  <div class="col-lg-9">
  <%= f.select :user_industry,  @industries, {}, class:"form-select" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Portfolio</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_portfolio_url,class:"form-control",placeholder:"Enter Portfolio URL" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Image</label>
  </div>
  <div class="col-lg-9">

  <% if !current_page?(new_user_profile_path)%>
    <% if @user_profile.user_profile_picture.attached? && @user_profile.user_profile_picture.representable? %>
      <%= link_to 'Remove Image', delete_image_user_profile_url(image_id: @user_profile.user_profile_picture.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-danger" %>
    <% else %>
      <%= f.file_field :user_profile_picture,class:"form-control" %>
    <% end %>
  <% else %>
    <%= f.file_field :user_profile_picture,class:"form-control" %>
  <% end %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Phone Number</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_phone_number,class:"form-control",placeholder:"Enter Phone Number" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">About Me</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_about_me_description,class:"form-control",placeholder:"Describe Yourself" %>
  </div>
</div>

<div class="row g-3 align-items-center mb-3">
  <div class="col-lg-3">
    <label class="col-form-label">Graduation Year</label>
  </div>
  <div class="col-lg-9">
  <%= f.text_field :user_graduating_year,class:"form-control",placeholder:"Enter Graduating Year" %>
  </div>
</div>
<div class="form-buttons">
      <%= f.submit class:"btn btn-primary"%>
    </div>
</form>