
<div class="User_profile index">
  <h2>User Profiles</h2>

  <%= link_to("Add New User Profile", new_user_profile_path, :class => 'action new') %>

  <table class="listing" summary="User Profile list">
    <tr class="header">
      <th>#</th>
      <th>User_name</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
    <% @user_profiles.each do |user_profile| %>
    <tr>
      <td><%= user_profile.user_first_name + " " + user_profile.user_last_name %></td>
        <%# <%= link_to("Show", subject_path(subject), :class => 'action show') %> %>
        <%# <%= link_to("Edit", edit_subject_path(subject), :class => 'action edit') %> %>
        <%# <%= link_to("Delete", delete_subject_path(subject), :class => 'action delete') %> %>
      </td>
    </tr>
    <% end %>
  </table>
</div>