<% if User.get_current_user(current_account).approved_status || ApprovedEmail.where(email: User.get_current_user(current_account).user_email).length() > 0 %>

    <% if current_page?(root_url) || current_page?(new_account_session_path) || current_page?(new_user_profile_path) || controller.controller_name == "sessions" || controller.controller_name == "registrations"%> 

    <% else %>
    <nav id="sidebar">
        <div class="p-4 pt-4" style="min-height:100%;position: relative;">
            <div class="header mb-4 " style="top:50px; display:flex;justify-content:center;">
                <%= image_tag "tamuSHPE_app_logo.png", style: 'height:auto;width:90%;', class:'mr-2' %><i id="close-button" class="fa fa-times fa-2x" aria-hidden="true"></i>                
            </div>
        
        <% if User.get_current_user_profile(current_account).user_profile_picture.attached? && User.get_current_user_profile(current_account).user_profile_picture.representable?%>
            <a href="#" class="img logo rounded-circle mb-4 default-cursor" style="background-image: url(<%= url_for(User.get_current_user_profile(current_account).user_profile_picture )%>);"></a> 
        <% else %>
            <a href="#" class="img logo rounded-circle mb-4 default-cursor" style="background-image: url(<%= asset_path 'default_profile_picture.jpg' %>);"></a> 
        <% end %>
        <h2 style="color:white;">Welcome, <%= User.get_current_user_profile(current_account).user_first_name[0].upcase %><%= User.get_current_user_profile(current_account).user_first_name[1..-1] %></h2>
        <ul class="list-unstyled components mb-5">
            <% if current_page?(:controller => 'users', :action => 'show') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to show_path, class:"nav-link" do%>
                <i class="fa fa-home fa-nav" aria-hidden="true"></i> Home
                
                <% end %>
            </li>

            <% if current_page?(:controller => 'user_profiles', :action => 'index') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to user_profiles_path, class:"nav-link" do%>
                    <i class="fa fa-search fa-nav" aria-hidden="true"></i> Search
                <% end %>
            </li>

            <% if current_page?(user_profile_path(User.get_current_user_profile(current_account).id)) %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to user_profile_path(User.get_current_user_profile(current_account).id), class:"nav-link" do%>
                    <i class="fa fa-user fa-nav" aria-hidden="true"></i> Profile
                <% end %>
            </li>
            <%# <li>
                <a href="#">Settings</a>
            </li> %>

            <li>
              <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-question-circle fa-nav" aria-hidden="true"></i> Help
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <% if current_page?(faq_path) %>
                <li class="active">
                <% else %>
                    <li>
                <%end%>
                    <%= link_to faq_path, class:"nav-link" do%>
                        FAQ
                    <% end %>
                </li>
                <% if current_page?(userguide_path) %>
                <li class="active">
                <% else %>
                    <li>
                <%end%>
                    <%= link_to userguide_path, class:"nav-link" do%>
                        User Guide
                    <% end %>
                </li>
              </ul>
	        </li>

            <% if current_page?(:controller => 'users', :action => 'setting') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to setting_path, class:"nav-link" do%>
                    <i class="fa fa-cog fa-nav" aria-hidden="true"></i> Settings
                <% end %>
            </li>

            <% if User.get_current_user(current_account).admin_status %>
                <% if current_page?(:controller => 'admins', :action => "home") %>
                    <li class="active">
                <% else %>
                    <li>
                <% end %>
                    <%= link_to admin_path, class:"nav-link" do%>
                        <i class="fa fa-lock fa-nav" aria-hidden="true"></i> Admin
                    <% end %>
                </li>
            <%else%>
            <%end%>
        </ul>

        <div class="footer" style="position:absolute;bottom:10px;">
            &copy; Copyright 2021
        </div>
    </nav>
    <%end%>
<% else %>
<% end %>