 <% if current_page?(root_url) || current_page?(new_account_session_path) || current_page?(new_user_profile_path) || controller.controller_name == "sessions" || controller.controller_name == "registrations"%> 

<% else %>
<nav id="sidebar">
    <div class="p-4 pt-3" style="min-height:100%;position: relative;">
        <div class="header mb-4" style="top:50px;">
            <%= image_tag "tamuSHPE_app_logo.png", style: 'height:auto;width:90%;' %>
        </div>
        
        <a href="#" class="img logo rounded-circle mb-4" style="background-image: url(<%= asset_path 'default_profile_picture.jpg' %>);"></a>
        <h2 style="color:white;">Welcome, <%= User.get_current_user_profile(current_account).user_first_name[0].upcase %><%= User.get_current_user_profile(current_account).user_first_name[1..-1] %></h2>
        <ul class="list-unstyled components mb-5">
            <% if current_page?(:controller => 'users', :action => 'show') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'Home' , show_path, class:"nav-link"%>
            </li>

            <% if current_page?(:controller => 'user_profiles', :action => 'index') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'People' , user_profiles_path, class:"nav-link"%>
            </li>

            <% if current_page?(:controller => 'employees', :action => 'index') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'Profile' , employee_path(User.get_current_user_profile(current_account).id), class:"nav-link"%>
            </li>
            <%# <li>
                <a href="#">Settings</a>
            </li> %>
            <% if current_page?(:controller => 'users', :action => 'setting') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'Settings', setting_path, class:"nav-link"%>
            </li>
        </ul>
        <div class="footer" style="position:absolute;bottom:10px;">
            &copy; Copyright 2021
        </div>
    </div>
</nav>
<%end%>