 <% if current_page?(new_account_registration_path) || current_page?(root_url) || current_page?(new_account_session_path)   %> 

<% else %>
<nav id="sidebar">
    <div class="p-4 pt-3" style="min-height:100%;position: relative;">
        <div class="header mb-4" style="top:50px;">
            <%= image_tag "tamuSHPE_app_logo.png", style: 'height:auto;width:90%;' %>
        </div>
        <a href="#" class="img logo rounded-circle mb-4" style="background-image: url(<%= asset_path 'Jonathan_Square.jpg' %>);"></a>
        <h2 style="color:white;">Welcome, Jonathan</h2>
        <ul class="list-unstyled components mb-5">
            <% if current_page?(:controller => 'users', :action => 'home') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'Home' , root_path, class:"nav-link"%>
            </li>

            <% if current_page?(:controller => 'user_profiles', :action => 'index') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'People' , user_profiles_path, class:"nav-link"%>
            </li>

            <% if current_page?(:controller => 'employees', :action => 'index') %>
                <li class="active">
            <% else %>
                <li>
            <%end%>
                <%= link_to 'Profile' , employee_path(1), class:"nav-link"%>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
        <div class="footer" style="position:absolute;bottom:10px;">
            &copy; Copyright 2021
        </div>
    </div>
</nav>
<%end%>